body {
	overflow:hidden;
	margin: 0px;
	font-family: sans-serif;
}

a {
	text-decoration:none;
	color:black;
}

a:hover {
	color:red;
}

input:not([type=submit]), textarea, select {
	background-color: #dddddd;
	border-radius: 8px;
	padding: 6px 15px;
	width: 70%;
	margin: 0px 4px;
	font-size: 1rem;
	box-shadow: 1px 1px 3px black;
}

table button, table input[type=submit], table .btn {
	background-color: #bb0000;
	border-radius: 8px;
	color: white;
	margin: auto;
	padding: 4px;
	width: fit-content;
	display: block;
	text-align: center;
	font-size: 1.25rem;
	transition: background-color 0.5s;
	box-shadow: 1px 1px 3px black;
}

table button:hover, table input[type=submit]:hover, table .btn:hover {
	background-color: darkred;
}

#content {
	position:absolute;
	left:20%;
	width:80%;
	height:100%;
	border: 2px solid #e3ebf4;
	border-collapse:collapse;
	background-image: linear-gradient(#e3ebf4, #f9fbfd);
	overflow:scroll;
}

#innercontent {
	width:94%;
	height:90%;
	margin-left:3%;
	border: 2px solid #d3dfed;
	background-color: white;
}

#searchForm {
	margin:2%;
	float:left;
	width:100%;
}
#search {
	width:50%;
}

#login_register {
	background-color: darkred;
	color: white;
	padding: 20px 10%;
	min-height: 20px;
	text-align: right;
	border-bottom:4px solid #d3dfed;
}

#login_register a {
	padding: 5px;
	color: white;
	text-decoration: none;
}

#login_register a:hover {
	color: navajowhite;
}

#message {
	float: left;
	font-weight: bold;
}

#login {
	border-right: 2px solid white;
	padding-right: 10px;
}

table form, #login form, table button {
	display: inline-block;
}

#register {
	padding-left: 5px;
}

#navigationMenu {
	width:20%;
	height:100%;
	float:left;
}

i {
	margin-right:5px;
}

ul {
	padding:0;
	list-style-type:none;
	font-weight:bold;
	font-size:20px;
}

li{
	padding: 20px 0px 0px 20px;
}

#navigationMenu input[type=submit]
{
	font-size:20px;
	font-weight:bold;
	border:none;
	background:none;
}

#navigationMenu input[type=submit]:hover
{
	color:red;
	cursor:pointer;
}

#main {
	padding: 20px 0px 20px 20px;
	border-bottom: 4px solid #e3ebf4;
}

h2 {
	margin:5% 0px 2% 4%;
}

table
{
	margin-top:50px;
	width:100%;
}

tr:not(#tableheader)
{
	background-color: #f9fbfd;	
}

#tableheader
{
	background-color: #e3ebf4;
}

tr:hover:not(#tableheader)
{
	background-color: #edf2f8;	
}

th
{
	padding:15px 0px;
	background-color: #e3ebf4;
}

td
{
	padding:15px 0px;
	text-align:center;
}

th#id{
	width:5%;
}

th#name {
	width:30%;
}

th#email {
	width: 30%;
}

th#role, th#theme, th#state {
	width:15%;
}

th#manage {
	width:20%;
}

th#title {
	width:45%;
}

input#name, input#last_name {
	width: 30%;
}

#edit_form {
	width: 100%;
}
