body {
	overflow:hidden;
	margin: 0px;
	font-family: sans-serif;
}

a {
	text-decoration:none;
	color:black;
}

a:hover {
	color:red;
}

#content {
	position:absolute;
	left:20%;
	width:80%;
	height:100%;
	border: 2px solid #e3ebf4;
	border-collapse:collapse;
	background-image: linear-gradient(#e3ebf4, #f9fbfd);
	overflow:scroll;
}

#innercontent {
	height:80%;
	width:94%;
	margin-left:3%;
	border: 2px solid #d3dfed;
	background-color: white;
}

#login_register {
	background-color: darkred;
	color: white;
	padding: 20px 10%;
	min-height: 20px;
	text-align: right;
	border-bottom:4px solid #d3dfed;
}

#login_register a {
	padding: 5px;
	color: white;
	text-decoration: none;
}

#login_register a:hover {
	color: navajowhite;
}

#message {
	float: left;
	font-weight: bold;
}

#login {
	border-right: 2px solid white;
	padding-right: 10px;
}

#register {
	padding-left: 5px;
}

#navigationMenu {
	width:20%;
	height:100%;
	float:left;
}

i {
	margin-right:5px;
}

ul {
	padding:0;
	list-style-type:none;
	font-weight:bold;
	font-size:20px;
}

li{
	padding: 20px 0px 0px 20px;
}

#navigationMenu input[type=submit]
{
	font-size:20px;
	font-weight:bold;
	border:none;
	background:none;
}

#main {
	padding: 20px 0px 20px 20px;
	border-bottom: 4px solid #e3ebf4;
}

h2 {
	margin:5% 0px 2% 4%;
}

table
{
	margin-top:50px;
	width:100%;
}

tr:not(#tableheader)
{
	background-color: #f9fbfd;	
}

#tableheader
{
	background-color: #e3ebf4;
}

tr:hover:not(#tableheader)
{
	background-color: #edf2f8;	
}

th
{
	padding:15px 0px;
	background-color: #e3ebf4;
}

td
{
	padding:15px 0px;
	text-align:center;
}

#id{
	width:5%;
}

#name {
	width:30%;
}

#email {
	width: 30%;
}

#role {
	width:15%;
}

#manage {
	width:20%;
}

