.approve
{
    border-bottom:2px solid black;
	box-shadow: 0px 5px 4px -4px;
    padding-bottom:80px;
}

h2
{
	margin-left:10%;
    width:75%;
}

form
{
    margin:0 20%;
}

p i
{
    margin-right:15px;    
}
#approve_submit {
    background-color: #66bb66;    
    float:left;
    margin-left:5%;
}
#approve_submit:hover {
    background-color: #00bb00;    
}

#disapprove_submit {
    float:left;
    margin-left: 5%;
}
