body {
	margin: 0px;
	font-family: sans-serif;
}

.login h2, .registration h2{
	padding: 30px 10px;
	border-bottom: 2px solid black;
	box-shadow: 0px 3px 2px -2px black;
}

a {
	color: black;
	transition: color 0.5s;
}

a:hover {
	color: red;
}

input:not([type=submit]), textarea, select {
	background-color: #dddddd;
	border-radius: 8px;
	padding: 8px 15px;
	width: 70%;
	margin: 8px 15px;
	font-size: 1rem;
	box-shadow: 1px 1px 3px black;
}

textarea {
	vertical-align: top;
}

button, input[type=submit], .btn {
	background-color: #bb0000;
	border-radius: 8px;
	color: white;
	margin: auto;
	padding: 8px 35px;
	width: fit-content;
	display: block;
	text-align: center;
	font-size: 1.5rem;
	transition: background-color 0.5s;
	box-shadow: 1px 1px 3px black;
}

button:hover, input[type=submit]:hover, .btn:hover {
	background-color: darkred;
}

table {
	width: 100%;
}

th, td {
	padding: 15px 0px;
	text-align: center;
}

th {
	background-color: #e3ebf4;
}

td {
	background-color: #f9fbfd;
}

tr:not(:first-child):hover {
	background-color: #edf2f8;
}

table button, table input[type=submit], table .btn {
	padding: 4px;
	font-size: 1.25rem;
}

.container {
	padding-left: 20%;
	padding-right: 20%;
}

.border_sides {
	border-width: 0px 2px 2px 2px;
	border-style: solid;
	border-color: black;
}

#login_register {
	background-color: darkred;
	color: white;
	padding: 5px 10%;
	min-height: 20px;
	text-align: right;
	box-shadow: 0px 5px 4px -2px black;
}

#login_register a {
	padding: 5px;
	color: white;
	text-decoration: none;
}

#login_register a:hover {
	color: navajowhite;
}

#message {
	float: left;
	font-weight: bold;
}

#login {
	border-right: 2px solid white;
	padding-right: 10px;
}

#login form {
	display: inline-block;
}

#register {
	padding-left: 5px;
}

#heading {
	text-align: center;
	vertical-align: center;
	font-size: 1.2rem;
}

#navigation {
	border-bottom: 2px solid black;
	padding-bottom: 5px;
	box-shadow: 0px 5px 4px -4px black;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

li {
	float: left;
	border-left: 2px solid black;
}

li a {
	display: block;
	padding: 4px 8px;
	color: black;
	text-decoration: none;
}

.kontakt {
	border-right: 2px solid black;
}

.helpdesk {
	float: right;
	border-right: 2px solid black;
}

.home {
	position: absolute;
	right: 30%;
	top: 0;
}

.fa {
	font-size: 1.5rem !important;
	width: 30px;
}

.home .fa {
	font-size: 1.9rem !important;
}
