p
{
    display:inline;
    margin:20px 15% 20px 0;
}

.hlava_recenze
{
    padding:10px 0 10px 10px;   
    margin-bottom:10px;
    border-bottom:2px solid gray;
    font-weight:bold;
}

.radky_recenzi
{
    padding-left:10px;
}

.recenzeText
{
    margin:10px 0;
    padding:10px 10px;
    border-top:2px solid gray;
    border-bottom:2px solid gray;
}

a
{
    text-decoration:none;
}

button
{
    margin-bottom:10px;
}

#recenze_1, #recenze_2, #recenze_3
{
    margin:auto;
    width:70%;
    border:2px solid black;
}
