body {
	margin: 0px;
	font-family: sans-serif;
}

.container {
	padding-left: 20%;
	padding-right: 20%;
}

#login_register {
	background-color: darkred;
	color: white;
	padding: 5px 10%;
	min-height: 20px;
	text-align: right;
	box-shadow: 0px 5px 4px -2px black;
}

#login a, #register a {
	padding: 5px;
}

#login {
	border-right: 2px solid white;
	padding-right: 10px;
}

#register {
	padding-left: 5px;
}

#message {
	float: left;
	font-weight: bold;
}

#heading {
	text-align: center;
	vertical-align: center;
	font-size: 1.2em;
}

#navigation {
	border-bottom: 2px solid black;
	padding-bottom: 5px;
	box-shadow: 0px 5px 4px -4px black;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

li {
	float: left;
	border-left: 2px solid black;
}

li a {
	display: block;
	padding: 0px 8px 0px 8px;
	color: black;
	text-decoration: none;
}

#login_register a {
	color: white;
	text-decoration: none;
}

.kontakt {
	border-right: 2px solid black;
}

.helpdesk {
	float: right;
	border-right: 2px solid black;
}

@keyframes hoverNav {
	0% {
		color: black;
	}

	100% {
		color: red;
	}
}

@keyframes hoverLogReg {
	0% {
		color: white;
	}

	100% {
		color: navajowhite;
	}
}

#navigation a:hover {
	animation: hoverNav 0.5s forwards;
}

#login_register a:hover {
	animation: hoverLogReg 0.5s forwards;
}

input, textarea {
	background-color: #dddddd;
	border-radius: 8px;
	padding: 8px 15px;
	width: 50%;
	margin: 8px 15px;
	font-size: 16px;
	box-shadow: 1px 1px 3px black;
}

button, input[type=submit] {
	background-color: #bb0000;
	color: white;
	margin-left: 19%;
	margin-top: 40px;
	width: 20%;
	text-align: center;
	font-size: 20px;
	transition: background-color 0.5s;
}

button:hover, input[type=submit]:hover {
	background-color: darkred;
}

.fa {
	font-size: 24px !important;
}

.home .fa {
	font-size: 30px !important;
}