		#autor
		{
			float:right;
			padding:10px;
			background-color:#ffd0d0;
			border-left: 2px solid black;
			margin-left: 10px;
		}
		
		#obsah{
			width:80%;
		}
		
		#clanekText
		{
			padding-bottom:50px;
			margin-bottom:100px;
			border-bottom:2px solid black;
			box-shadow: 0px 5px 4px -4px;
		}
