		#autor
		{
			float:right;
			padding: 10px;
			background-color:#ffd0d0;
			border-left: 2px solid black;
			margin-left: 10px;
		}
		
		h1, #obsah{
			width:80%;
		}
		
		#clanekText
		{
			padding-bottom:50px;
			margin-bottom:100px;
			border-bottom:2px solid black;
			box-shadow: 0px 5px 4px -4px;
		}
		
		.clanekRef
		{
			color:black;
			text-decoration:none;
			padding:10px;
			border-bottom:2px solid black;
		}
		
		@keyframes hoverClanek {
			0%   {color: black;}
			100%  {color: red;}
		}
		
		.clanekRef:hover
		{
			animation: hoverClanek 0.5s forwards;
		}
	
